// asdf
@import "./common.scss";
@import "./mixin.scss";
@import "./style.scss";

::-webkit-scrollbar {display: none;}

body{
    background-color: gray;
}

.night-mode{
    // display: none;
    width: 150px;
    border: 1.5px solid $font-color;
    // border: 1.5px solid $gray-color;
    border-radius: 75px;
    float: left;
    margin: 20vh 30px;
    opacity: 0.7;
    position: absolute;
    z-index: 2;
    a{
        border: 1.5px solid $font-color;
        // border: 1.5px solid $gray-color;
        border-radius: 50%;
        width: 120px; height: 120px;
        margin: 15px auto;
        line-height: 120px;
        text-align: center;
        color: $font-color;
        // color: $gray-color;
        font-size: 1.5rem;
        @keyframes navani1 {
            from{
                background-color: transparent;
                color: $font-color;
                // color: $gray-color;
            } 
            to{
                background-color: $font-color;
                // background-color: $gray-color;
                color: #6f4b8d;
                // color: #5a94ff;
            }
        }
        &:hover{
            font-weight: bold;
            animation-name: navani1;
            animation-duration: 0.7s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
}

.day-mode{
    // display: none;
    width: 150px;
    // border: 1.5px solid $font-color;
    border: 1.5px solid $gray-color;
    border-radius: 75px;
    float: left;
    margin: 20vh 30px;
    position: absolute;
    z-index: 2;
    a{
        // border: 1.5px solid $font-color;
        border: 1.5px solid $gray-color;
        border-radius: 50%;
        width: 120px; height: 120px;
        margin: 15px auto;
        line-height: 120px;
        text-align: center;
        // color: $font-color;
        color: $gray-color;
        font-size: 1.5rem;
        @keyframes navani {
            from{
                background-color: transparent;
                // color: $font-color;
                color: $gray-color;
            } 
            to{
                // background-color: $font-color;
                background-color: $gray-color;
                color: rgb(186, 222, 236);
            }
        }
        &:hover{
            font-weight: bold;
            animation-name: navani;
            animation-duration: 0.7s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
}

main {
    .day {
        background: linear-gradient(skyblue 10%,white);
    }
    .night {
        background: linear-gradient(#2f2039 30%,#6f4b8d);
    }
    #index {
        width: 100%; height: 100vh;
        img {
            width: 88%;
            position: absolute; bottom: 1.9vh; left: 50%;
            transform: translate(-50%,0);
        }

        @keyframes shining {
            from{ opacity: 1; }
            to{ opacity: 0; }
        }
        .shine{
            // display: none;
            animation-name: shining;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        .moon{
            // opacity: 0;
            width: 20vh;
            position: absolute;
            z-index: 2;
            top: 15%; left: 350px;
            // opacity: 0.9;
            cursor: pointer;
            // background-color: #61dafb;
            // transform: translate(-50%, -50%);
            &:hover{
                @keyframes fullmoon {
                    from{ background: transparent; }
                    to{ background: $font-color; }
                }
                border-radius: 50%;
                animation: fullmoon;
                animation-iteration-count: 1;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
        }
        .cloud1{
            display: none;
            position: absolute;
            width: 10%; top: 10%; left: 70%;
        }
        .cloud2{
            display: none;
            position: absolute;
            width: 10%; top: 20%; left: 30%;
        }
        
        .star1{
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $font-color;
            // background-color: linear-gradient($font-color, transparent);
            // background: radial-gradient($font-color, transparent 90%);
            position: absolute;
            top: 20%; left: 40%;

            animation-duration: 1s;
        }
        .star2{
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $font-color;
            position: absolute;
            top: 40%; left: 30%;

            animation-duration: 2s;
        }
        .star3{
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $font-color;
            position: absolute;
            top: 10%; left: 80%;

            animation-duration: 1.5s;
        }
        .star4{
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $font-color;
            position: absolute;
            top: 25%; left: 60%;

            animation-duration: 3s;
        }
        .star5{
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $font-color;
            position: absolute;
            top: 10%; left: 45%;

            animation-duration: 1s;
        }
        .star6{
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $font-color;
            position: absolute;
            top: 50%; left: 90%;

            animation-duration: 2s;
        }
        .star7{
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $font-color;
            position: absolute;
            top: 40%; left: 10%;

            animation-duration: 1.8s;
        }
        .star8{
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $font-color;
            position: absolute;
            top: 10%; left: 15%;

            animation-duration: 1s;
        }
        .bottom{
            background-color: black;
            // background-color: $gray-color;
            height: 2vh;
            width: 100%;
            position: absolute; bottom: 0;
        }
        h1{
            color: black;
            -webkit-text-stroke: 1px $font-color;
            // color: white;
            text-align: center;
            position: absolute;
            width: 33%;
            left: 33%;
            top: 40vh;
        }
        .sun{
            display: none;
            font-size: 0;
            width: 20vh;
            height: 20vh;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            z-index: 1;
            top: 15%; left: 250px;
            cursor: pointer;
            &:hover{
                @keyframes sunrise {
                    from{ background: white; }
                    to{ background: orange; }
                }
                border-radius: 50%;
                animation: sunrise;
                animation-iteration-count: 1;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    section{
        &:nth-child(2){
            overflow-y: scroll;
            display: flex;
            width: 200%;
            #about{
                position: relative;
                width: 100%;
                height: 100vh;
                background-color: black;
                // background-color: $gray-color;
                h2{
                    display: none;
                }
                .window{
                    position: absolute;
                    top: 50%; left: 50%;
                    display: table-cell;
                    width: 1000px;
                    height: 400px;
                    margin: auto;
                    background-color: gray;
                    // background-color: #cbe9f5;
                    transform: translate(-50%,-50%);
                    overflow: hidden;
                    &>.white-board{
                        width: 70%;
                        height: 80%;
                        background-color: rgb(238, 238, 238);
                        border: 10px solid rgb(197, 197, 197);
                        border-radius: 10px 10px;
                        position: absolute;
                        left: 50%;
                        top: 5%;
                        transform: translate( -50%, -0%);
                        &>p{
                            @keyframes wave1 {
                                from{ transform: translate(-50%, -50%); } 
                                to{ transform: translate(-65%, -50%); }
                            }
                            @keyframes wave3 {
                                from{ transform: translate(-50%, -50%); } 
                                to{ transform: translate(-25%, -50%); }
                            }
                            position: absolute;
                            top: 50%;
                            left: 60%;
                            transform: translate(-50%, -50%);
                            font-family: $board-font;
                            text-align: center;
                            font-size: 1.5rem;
                            opacity: 0;
                            &:first-child{
                                opacity: 1;
                                font-size: 2.5rem;
                                animation: wave1;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;
                                animation-duration: 0.3s;
                            }
                            &:last-child{
                                font-size: 2.5rem;
                                animation: wave3;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;
                                animation-duration: 0.3s;
                            }
                        }
                    }
        
                    .leg1{
                        width: 20px;
                        height: 80%;
                        background-color: rgb(156, 156, 156);
                        position: absolute;
                        left: 30%; bottom: 0;
                    }
                    .leg2{
                        width: 20px;
                        height: 80%;
                        background-color: rgb(156, 156, 156);
                        position: absolute;
                        right: 30%; bottom: 0;
                    }
                    .leg3{
                        width: 40%;
                        height: 20px;
                        background-color: rgb(156, 156, 156);
                        position: absolute;
                        top: 93%; left: 50%;
                        transform: translate(-50%, 0%);
                    }
                    @keyframes wave2 {
                        from{ transform: translateY(0px); } 
                        to{ transform: translateY(-20px); } 
                    }
                    img{
                        position: absolute;
                        top: 80px;
                        width: 220px;
                        left: 90px;
                        cursor: pointer;
                        z-index: 1;
                        animation: wave2;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                        animation-duration: 0.3s;
                        &:hover{
                            width: 240px;
                            top: 60px;
                            animation: none;
                        }
                    }
                }
            }
            #skill{
                position: relative;
                width: 100%;
                height: 100vh;
                background-color: black;
                overflow: hidden;
                // background-color: $gray-color;
                .window{
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    top: 50%; left: 50%;
                    width: 1000px;
                    height: 400px;
                    background-color: gray;
                    transform: translate(-50%,-50%);
                    .com{
                        position: relative;
                        width: 33.3%;
        
                        h3{
                            color: white;
                            text-align: center;
                            line-height: 21vh;
                            font-size: 1rem;
                            font-size: 0;
                        }
        
                        .logo{
                            position: absolute;
                            top: 60px; left: 50%;
                            transform: translate(-50%,-50%);
                        }
                        
                        &>p{
                            color: white;
                            position: absolute;
                            top: 82px;
                            left: 50%;
                            transform: translate(-37%, -50%);
                        }
                        
                        .loading-bar{
                            height: 5px;
                            width: 30%;
                            background-color: gray;
                            position: absolute;
                            left: 35%;
                            top: 92px;
                        
                            .percent{
                                height: 5px;
                                width: 50%;
                                background-color: red;
                                font-size: 0;
                            }
                            .photoshop{
                                width: 90%;
                                background-color: #2fbbe5;
                            }
                            .illust{
                                width: 85%;
                                background-color: #fe7b00;
                            }
                            .html{
                                width: 90%;
                                background-color: #fe7b00;
                            }
                            .css{
                                width: 90%;
                                background-color: #1572b6;
                            }
                            .javascript{
                                width: 70%;
                                background-color: #f0db4f;
                            }
                            .react{
                                width: 60%;
                                background-color: #61dafb;
                            }
                        }

                        .smallcom{
                            // display: none;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            z-index: 0;
                        }
                        .bigcom{
                            width: 2500px;
                            z-index: 1;
                            left: -325%;
                            top: -63vh;
                        }
                    }
                }
            }
        }
    }
    #more{
        position: relative;
        width: 100%; height: 100vh;
        background-color: gray;
        overflow: hidden;
        left: 100%;
        &>div{
            position: absolute;
            display: flex;
            width: 1250px;
            top: 80px; left: 50%;
            transform: translate(-41.5%,-0%);
        }  
        .moniter-wrap{
            width: 1000px;
            height: 650px;
        }
        .moniter-nav{
            a{
                width: 150px;
                margin: 20px 0;
                margin-left: 27px;
                padding: 10px;
                text-align: center;
                position: absolute;
                &:first-child{
                    background-color: pink;
                    margin-left: 43px;
                    font-weight: 600;
                    top: 0;
                    
                }
                &:nth-child(2){
                    background-color: yellow;
                    top: 60px; 
                }
                &:last-child{
                    background-color: greenyellow;
                    top: 120px;
                }
                &:hover{
                    margin-left: 43px;
                    font-weight: 600;
                }
            }
        }
        .moniter-section{
            display: flex;
            padding: 20px;
        }
        .portfolio-file{
            float: left;
            position: relative;
            margin: 30px;
            width: 250px;
            height: 220px;
            a{
                img{
                    position: absolute;
                    top: 0; left: 0;
                    &:nth-child(2) {
                        width: 240px;
                        position: absolute;
                        top: 25%;
                    }
                    &:last-child{
                        transform: skewY(5deg) scaleX(0.8) translate( -32px, 10px);
                    }
                }
                &:hover {
                    img{
                        cursor: pointer;
                        position: absolute;
                        top: 0; left: 0;
                        &:nth-child(2) {
                            width: 240px;
                            position: absolute;
                            left: 20%; top: 25%;
                        }
                        &:last-child{
                            transform: skewY(15deg) scaleX(0.5) translate( -125px, 33px);
                        }
                    }
                }
            }
            .pf-contents{
                display: none;
                position: absolute;
                z-index: 1;
                background-color: #29abe1;
                border: 1px solid #61dafb;
                border-radius: 5px;
                width: 900px;
                height: 500px;
                div{
                    background-color: #61dafb;
                    padding: 0.5rem;
                    p{
                        cursor: pointer;
                        // float: right;
                        z-index: 2;
                        color: white;
                        width: 2rem;
                        font-size: 1.5rem;
                        &:hover {
                            font-weight: 600;
                        }
                    }
                }
                img{
                    margin: 50px;
                    width: 400px;
                }
            }
        }
        #a{
            display: block;
        }
        #b{
            display: none;
            div{
                a{
                    float: left;
                    margin: 0 20px;
                    &:first-child{
                        width: 300px;
                        // height: 250px;
                        background-color: rgb(101, 141, 250);
                        text-align: center;
                        padding: 100px 0;
                        border: 8px solid white;
                    }
                    span{
                        display: contents;
                        font-size: 3.5rem;
                        font-weight: 600;
                    }
                    &:last-child{
                        // margin-top: 40px;
                        background-color: lightgray;
                        font-size: 3.5rem;
                        font-weight: 600;
                        text-align: center;
                        padding: 100px 0;
                        width: 300px;
                        // height: 150px;
                        border: 8px solid white;
                    }
                    &:hover{
                        box-shadow: 5px 5px 2px #333;
                    }
                }

            }
        }
        #c{
            // display: none;
            display: none;
            h4{
                color: white;
                font-size: 4rem;
            }
            fieldset{
                display: flex;
                border: 3px solid white;
                margin: 30px 0;
                padding: 10px;
                border-radius: 10px 10px;
                label{
                    color: white;
                    font-size: 1.5rem;
                }
                input, textarea{
                    border: none;
                    width: 100%;
                    background-color: transparent;
                    font-size: 1.2rem;
                    color: white;
                }
                textarea{
                    height: 85%;
                }
                &:nth-child(4){
                    display: block;
                    height: 200px;
                }
            }
            button{
                float: right;
                border: none;
                background: none;
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
                &:hover{
                    font-weight: bold;
                }
            }
            .thankyou_message{
                width: 100%;
                height: 100%;
                display: none;
                p{
                    color: white;
                    font-size: 2rem;
                    text-align: center;
                    &:last-child{
                        background-color: white;
                        color: #61dafb;
                        width: 200px;
                        padding: 5px;
                        margin: 20px auto;
                        border-radius: 10px;
                        &:hover{
                            font-size: 2.5rem;
                            width: 250px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .on-mode{
        background: url(../images/computer_copy.svg) no-repeat;
        background-position: 50% -13vh;
        background-size: 2500px;
    }
    .off-mode{
        background: url(../images/computer.svg) no-repeat;
        background-position: 50% -13vh;
        background-size: 2500px;
    }
}
footer {
    display: none;
}