// asdf
// $point-color : #82ca9c;
$font-color : #fff9c5;
$gray-color : #769cc1;
// $bg-color : #fefefc;

$board-font : 'Nanum Pen Script', cursive;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;