// asdf
// $point-color : #82ca9c;
$font-color : #fff9c5;
// $gray-color : #a5a5a5;
// $bg-color : #fefefc;

$board-font : 'Nanum Pen Script', cursive;
// $sub-font : 'Cafe24Danjunghae';

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;